* {
  font: Verdana;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border-bottom: solid rgba(0, 0, 0, .1) 1px;
  background-color: rgb(241, 241, 248);
}

.navbar-container > div {
  background-color: rgb(241, 241, 248);
}

.navbar-logo {
  width: 20rem;
  display: flex;
  justify-content: center;
  background-color: mediumaquamarine;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
}

.navbar-button {
  padding: 0.25rem;
  width: 4.5rem;
  justify-content: center;
  transition: transform 0.6s;
}

.navbar-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar-button:hover svg, .navbar-caption {
  color: rgb(73, 171, 232);
}

.navbar-button:hover .navbar-caption {
  color: rgb(73, 171, 232);
}

.navbar-icon {
  display: flex;
  padding-top: .25rem;
  justify-content: center;
}

svg, .navbar-caption {
  color: rgb(0, 0, 0, .6);
}

.navbar-caption {
padding-top: .25rem;
text-align: center;
font-size: 14px;
text-decoration: none;
}

.navbar-user {
width: 12rem;
background-color: lightyellow;
}

a {
  text-decoration: none;
}