{% load static %}
<!doctype html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock title %}</title>
        {% block style %} {% endblock style %}
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="https://use.typekit.net/vnx0pmk.css">
    </head>
    <body>
            <section class="navbar-container">
            {% include 'SQA/_navbar.html' %}
            </section>
            {% block content %}{% endblock content %}
    </body>
</html>