{% extends 'SQA/base.html' %}


{% block title %} {{ object.name }} {% endblock title %}


{% block content %}
<div class="container">
    <div class="overview">
        <h1>Claim list</h1>
        <ul>
            {% for claim in claims %}
            <li><a href="{% url 'SQA:claim_detail' claim.id %}">{{ claim.number }}</a></li>
            {% empty %}
            </ul><h2>No pending claims</h2>
            {% endfor %}
        </ul>
    </div>

    <div class="details">
        <h1>Claim detail</h1>

        <h2>{{ claim.0.number }}</h2>
        {% if claim.0.closed %}
        <ul class="claim_open">
        {% else %}
        <ul class="claim_open">
        {% endif %}
            <li>{{ claim.0.supplier_t1 }}</li>
            <li>Date claimed: {{ claim.0.created }}</li>
            {% if claim.0.closed %}
            <li>Closed</li>
            {% else %}
            <li>Open</li>
            {% endif %}
        </ul>

{% endblock content %}