{% extends 'SQA/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
    <article class="container">
        <section class="overview">
            <h1> Dashboard </h1>
            <a href="{% url 'SQA:list' %}">Supplier list</a>
        </section>

        <section class="details">
        {{ claims }}<br>
        {{ ppaps }}<br>
            for claim in claims if jakis ktok due do 5 dni<br>
            taka tabela ze wszystkimi danymi z reklamachi zgodnie z tabelą zamieszczoną w bazie danych
        </section>
    </article>
{% endblock content %}
