{% extends 'SQA/base.html' %}


{% block title %} {{ object.name }} {% endblock title %}


{% block content %}
    <h1>Supplier detail</h1>

    <h2>{{ object.name }}</h2>
    <ul>
        {% if object.is_9001 %}<li> ISO 9001 </li>{% endif %}
        {% if object.is_17494 %}<li> ISO/IATF 17494 </li>{% endif %}
        {% if object.valid_from %}<li> Validated on: {{ object.valid_from }} </li>{% endif %}
    </ul>

    <h2><a href="{% url 'SQA:supplier_part_list' object.id %}"> Parts {{ object.id }} </h2>
{% endblock content %}